fastapi
uvicorn
langchain
langgraph
langchain-groq
langchain-community
langchain-huggingface
langchain-qdrant
qdrant-client
pymongo
motor
pydantic
streamlit
python-dotenv
tavily-python
pypdf
pyyaml
sentence-transformers
python-multipart
requests
typing-extensions